<div id='profile'>
  <div class='left column'>
    <div id='date'>11 November 2010</div>
    <div id='address'>1 Infinite Loop</div>
  </div>
  <div class='right column'>
    <div id='email'>steve@apple.com</div>
    <div id='bio'>Makes magical tablets</div>
  </div>
</div>
